.button {
  background-color: $button-bg;
  border: 0;
  color: $button-color;
  cursor: pointer;
  font-size: $base-font-size;
  padding: $input-spacing;
}

.button--auth {
  margin-bottom: $space;
}

.button--logout {
  margin: 0;
  padding: $space;
  text-decoration: none;

  &:hover {
    transition: background-color 0.2s ease;
    background-color: lighten( $brand-light, 4% );
  }
}

.button--secondary {
  background-color: $button-secondary-bg;
  color: $button-secondary-color;
  margin-top: $space;

  &:hover {
    transition: background-color 0.2s ease;
    background-color: darken( $button-secondary-bg, 4% );
  }
}

.button--add-link {
  &:hover {
    transition: background-color 0.2s ease;
    background-color: lighten( $brand-light, 4% );
  }
}

.button--pill {
  background-color: transparent;
  border: 1px solid $button-pill-border-color;
  color: $button-pill-color;
  margin-left: $small-space;
  outline: none;
  padding: .3rem .8rem;

  &:hover, &:focus {
    background-color: $brand-primary;
    color: white;
  }
}
