.content-item {
  background-color: white;
  box-shadow: $content-item-bs;
  display: flex;
  justify-content: space-between;
  margin-top: $space;
  padding: $space;
}

.content-item__message {
  color: $darker-grey;
  font-style: italic;
  text-align: center;
  width: 100%;
}

.content-item__buttons {
  margin: auto 0;
}
